<div class="container">
    <h3 class="ui header">Buy product</h3>

    <div *ngIf="!showOrderInfo">
        <table>
            <tr>
                <td class="bold">Product: </td>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <td class="bold">Store: </td>
                <td>{{ product.storeName }}</td>
            </tr>
            <tr>
                <td class="bold">Original price: </td>
                <td>$ {{ product.price }}</td>
            </tr>
            <tr *ngIf="product.couponDiscount != 0">
                <td class="bold">Coupon discount</td>
                <td>{{ product.couponDiscount }}</td>
            </tr>
            <tr *ngIf="product.couponDiscount != 0">
                <td class="bold">Enter coupon</td>
                <td>
                    <div class="ui input">
                        <input type="text" placeholder="Coupon" [(ngModel)]="coupon" />
                    </div>
                </td>
            </tr>
            <tr *ngIf="product.maxOrderQuantity == 1">
                <td class="bold">Quantity:</td>
                <td>1</td>
            </tr>
            <tr *ngIf="product.maxOrderQuantity > 1">
                <td class="bold">Quantity</td>
                <td>
                    <div class="ui input">
                        <input type="number" min="1" placeholder="Quantity" [(ngModel)]="quantity" />
                    </div>
                </td>
            </tr>
        </table>
    
        <button class="ui button primary" (click)="onClickPlaceOrder()">Place order</button>
    </div>

    <div *ngIf="showOrderInfo">
        <table>
            <tr>
                <td class="bold">Old price: </td>
                <td>$ {{ order.originalPrice * order.quantity }}</td>
            </tr>
            <tr>
                <td class="bold">Shipping: </td>
                <td>$ {{ order.product.shippingPrice }}</td>
            </tr>
            <tr>
                <td class="bold">Discount: </td>
                <td>{{ order.discount * 100 }}%</td>
            </tr>
            <tr>
                <td class="bold">New price: </td>
                <td>$ {{ order.newPrice | number : '1.2' }}</td>
            </tr>
        </table>
    </div>
</div>
