.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card-container > div {
    margin: 5px;
}

