.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card-container .row > div {
    margin: 5px;
}
