<div class="container">
    <!-- RECOMMENDED PRODUCTS -->
    <h1 class="ui header" *ngIf="isUserLoggedIn()">Recommended products</h1>

    <div *ngIf="isUserLoggedIn()">
        <div class="ui cards">
            <div class="ui card" *ngFor="let product of recommendedProducts">
                <div class="image">
                    <img src="../../../assets/images/default_product.png" />
                </div>
                <div class="content">
                    <span class="header">{{ product.name }}</span>
                    <div class="meta">
                        <span>Store:</span><span>{{ product.storeName }}</span>
                    </div>
                    <div class="description">
                        <span>Price: </span><span>$ {{ product.price }}</span> <br />
                        <span>Shipping: </span><span>$ {{ product.shippingPrice }}</span> <br />
                        <span>Discount: </span><span>{{ product.discount * 100 }} %</span>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui button primary" (click)="onClickBuy(product)">Buy</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="ui header">All products</h1>

    <!-- FILTER  -->
    <div class="filter">
        <div class="ui input">
            <input type="text" placeholder="Product name" [(ngModel)]="filterName">
        </div>

        <select class="ui dropdown" [(ngModel)]="filterCategory">
            <option>None</option>
            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>

        <div class="ui input">
            <input type="number" min="0" placeholder="Down price" [(ngModel)]="filterDownPrice">
        </div>

        <div class="ui input">
            <input type="number" min="0" placeholder="Top price" [(ngModel)]="filterTopPrice">
        </div>

        <div class="ui checkbox">
            <input type="checkbox" name="freeShipping" [(ngModel)]="filterFreeShipping">
            <label>Free shipping</label>
        </div>

        <button class="ui button primary" (click)="onClickSearch()">Search</button>
        <button class="ui button" (click)="onClickClearSearch()">Clear</button>
    </div>

    <!-- ALL PRODUCTS -->
    <div class="ui cards">
        <div class="ui card" *ngFor="let product of products">
            <div class="image">
                <img src="../../../assets/images/default_product.png" />
            </div>
            <div class="content">
                <span class="header">{{ product.name }}</span>
                <div class="meta">
                    <span>Store:</span><span>{{ product.storeName }}</span>
                </div>
                <div class="description">
                    <span>Price: </span><span>$ {{ product.price }}</span> <br />
                    <span>Shipping: </span><span>$ {{ product.shippingPrice }}</span> <br />
                    <span>Discount: </span><span>{{ product.discount * 100 }} %</span>
                </div>
            </div>
            <div class="extra content">
                <button class="ui button primary" *ngIf="isUserLoggedIn()" (click)="onClickBuy(product)">Buy</button>
                <span *ngIf="!isUserLoggedIn()">Login or register to buy</span>
            </div>
        </div>
    </div>

    <div class="buy-dialog modal" *ngIf="showBuyDialog">
        <app-buy-product [product]="productToBuy"></app-buy-product>
        <button class="ui button" (click)="onClickModalClose()">Close</button>
    </div>

</div>
