.container {
    background-color: #2b2b2b;
    width: 100%;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    margin-left: 15px;
    font-weight: bold;
    font-size: 24px;
}

.button {
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto; /* Hack to push buttons to the right side of the screen */
    margin-right: 15px;
}
